@font-face {
  font-family: Poppin400i;
  src: url("/public/fonts/Poppins-Italic.ttf");
}
@font-face {
  font-family: Poppin400i2;
  src: url("/public/fonts/Poppins-MediumItalic.ttf");
}
@font-face {
  font-family: Poppin700;
  src: url("/public/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppin800i;
  src: url("/public/fonts/Poppins-ExtraBoldItalic.ttf");
}